#waybar { 
  background-color: black; 
  color: #0fffff; 
}

#workspaces button{
  color: #0fffff;	
}

#workspaces button.active{
	color: black;
}

#workspaces .active{
	background-color: #0fffff;
}

#workspaces button.urgent {
    background-color: rgb(255,0,13);
}
