#window{
	font-size: 25px;
	background-color: rgb(0,1,10);
	color: #0fffff;
	border:1px solid #0fffff;
}

*{
	/*border-radius: 20px;*/
	outline:none;
}

#outer-box{
	padding: 10px;
	border-radius:20px;
}

expander > list > #entry{
	color: white;
	padding-left: 40px;
	background-color: black;
}
#input{
	color: #0fffff;
	background-color: inherit;
	border: 1px solid #0fffff;
}

#entry:selected{
	background-color: rgb(0,1,36);
	outline: none;
}

/*
#input-focus{
	border-color: transparent;
}
*/
